.body {
    background-color: rgba(233, 233, 233, 0.487);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greetingAnimation-mobile {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: #e0e0e0;
    opacity: 1;
    transition: 2s opacity ease-in-out;
}

h1 {
    font-size: 50px;
    margin: 0;
}

.headerSummary {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 50px;
}

.summaryContent {
    display: flex;
}

.tasks {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.row {
    display: flex;
}

.first .soloTask {
    flex-direction: column;
}

.soloTask {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    width: 100%;
    height: 110px;
    margin: 10px;
    transition: 125ms ease-in-out;
}

.soloTask:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    transform: scale(1.1);
    transition: 125ms ease-in-out;
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.miniTask {
    font-size: 50px;
    font-weight: 700;
}

.bigTask {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bigTaskWidth {
    width: 50%;
}

.greyLine {
    width: 3px;
    height: 90%;
    background-color: lightgrey;
    border-radius: 5px;
}

.urgent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.urgent img {
    height: 70px;
}

.upcomingDeadline {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#summaryDate {
    font-weight: 700 !important;
}

.circleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #2A3647;
}

#todoBubble, #doneBubble {
    gap: 20px;
}

#todoBubble:hover #todoPencil {
    content: url('../img/bluePencil.svg');
}

#doneBubble:hover #doneCheck {
    content: url('../img/blueCheck.svg');
}

.soloTask:hover .circleIcon {
    background-color: white;
}

/* greeting */
#greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#greetingContainer {
    font-size: 30px;
}

#profileName {
    font-size: 50px;
    font-weight: 700;
    color: #2aaae2;
    margin: 0;
}

@media(max-width: 1200px) {
    #greeting {
        display: none;
    }
}

@media(max-width: 1000px) {
    .d-noneMobile {
        display: none;
    }
}

@media(max-width: 530px) {
    .headerSummary {
        margin: 20px;
    }

    .tasks {
        width: 350px;
    }

    .soloTask {
        height: 55px;
    }

    .text {
        font-size: 13px;
    }

    .miniTask {
        font-size: 30px;
    }

    .circleIcon,
    .urgent img {
        height: 50px;
        width: 50px;
    }

    .circleIcon img {
        scale: 0.7;
    }
}

@media(max-width: 420px) {}